html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="xl:bg-contain bg-top bg-no-repeat", style="background-image: url('metis-assets/backgrounds/intersect.svg');")
                div(class="container px-4 mx-auto")
                    nav(class="flex justify-between items-center py-6")
                        a(class="text-3xl font-semibold leading-none", href="#") MIND
                        div(class="lg:hidden")
                            button(class="navbar-burger flex items-center py-2 px-3 text-blue-600 hover:text-blue-700 rounded border border-blue-200 hover:border-blue-300")
                                svg(class="fill-current h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12")
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") Donate
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") Company
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") About Us
                            li
                                a(class="text-sm text-blueGray-400 hover:text-blueGray-500", href="#") PPM
                        div(class="hidden lg:block")
                            a(class="mr-2 inline-block px-4 py-3 text-xs text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Log In
                            a(class="inline-block px-4 py-3 text-xs font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Sign Up
                    div(class="pt-12 text-center")
                        div(class="max-w-lg mx-auto mb-8")
                            h2(class="text-3xl md:text-4xl mb-4 font-bold font-heading")
                                span MIND
                                |                 
                                span(class="text-blue-600") BLOCKCHAIN
                                |                 
                                span Mental Heath Care Solution 
                            p(class="text-blueGray-400 leading-relaxed") A Simple fix to the Mental Health   global crisis
                        div
                            a(class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Donate Now
                            a(class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white rounded", href="#") Memorandum
                div(class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto")
                    img(src="metis-assets/elements/pattern.png", alt="")
                    div(class="absolute", style="top: 9%; left: 14%; width: 72%; height: 66%;")
                        img(class="rounded", src="images/pandemic-banner.png", alt="")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center justify-center max-w-4xl mx-auto pt-8 pb-12")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="", alt="")
                        div(class="hidden md:block w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="", alt="")
                div(class="hidden navbar-menu relative z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25")
                    nav(class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-3xl font-semibold leading-none", href="#") MIND
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Donate
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Company
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") About Us
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") PPM
                            div(class="mt-4 pt-6 border-t border-blueGray-100")
                                a(class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Sign Up
                                a(class="block px-4 py-3 mb-2 text-xs text-center text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="https://commerce.coinbase.com/checkout/33bb4dc4-9367-4b2d-8e62-b5fdf29850bc") Log In
                        div(class="mt-auto")
                            p(class="my-4 text-xs text-blueGray-400")
                                span Get in Touch
                                |                 
                                a(class="text-blue-600 hover:text-blue-600 underline", href="#") info@example.com
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
            section(class="py-10 bg-blueGray-50")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap lg:flex-nowrap bg-white shadow rounded")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 py-6 text-center border-b lg:border-b-0 md:border-r")
                            p(class="text-md lg:text-base text-blueGray-400")
                                span Donated 
                                |                 
                                span(class="text-xs py-1 px-2 ml-1 font-semibold text-green-600 bg-green-100 rounded-full") +18%
                            p(class="my-1 text-3xl lg:text-4xl font-bold font-heading") $33,261
                            span(class="text-xs lg:text-base text-blueGray-500") 432 Orders
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 py-6 text-center border-b lg:border-b-0 md:border-r")
                            p(class="text-md lg:text-base text-blueGray-400")
                                span Donars 
                                |                 
                                span(class="text-xs py-1 px-2 ml-1 font-semibold text-green-600 bg-green-100 rounded-full") +18%
                            p(class="my-1 text-3xl lg:text-4xl font-bold font-heading") 643 
                            span(class="text-xs lg:text-base text-blueGray-500") $50 Avg. Order
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 py-6 text-center border-b md:border-b-0 md:border-r")
                            p(class="text-md lg:text-base text-blueGray-400")
                                span Conversations
                                |                 
                                span(class="text-xs py-1 px-2 ml-1 font-semibold text-red-600 bg-red-100 rounded-full") -3.4%
                            p(class="my-1 text-3xl lg:text-4xl font-bold font-heading") 43,533
                            span(class="text-xs lg:text-base text-blueGray-500") 5m 25s Avg. Response Time
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 py-6 text-center")
                            p(class="text-md lg:text-base text-blueGray-400")
                                span Modal Sale Rate
                                |                 
                                span(class="text-xs py-1 px-2 ml-1 font-semibold text-green-600 bg-green-100 rounded-full") +18%
                            p(class="my-1 text-3xl lg:text-4xl font-bold font-heading") 43,533
                            span(class="text-xs lg:text-base text-blueGray-500") 5% Sales Rate
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap mb-12 lg:mb-20 -mx-3 text-center lg:text-left")
                        div(class="w-full lg:w-1/5 px-3 mb-6 lg:mb-0")
                            a(class="inline-block mx-auto lg:mx-0 text-3xl font-semibold leading-none", href="#") MIND
                        div(class="w-full lg:w-2/5 px-3 mb-8 lg:mb-0")
                            p(class="max-w-md mx-auto lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blueGray-400 leading-relaxed") We have developed a Blockchain that resolves the issues of Mental Health on a global scale. 
                        div(class="w-full lg:w-1/5 px-3 mb-8 lg:mb-0")
                            p(class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800") Office
                            p(class="lg:text-lg text-blueGray-400") Chicago 
                        div(class="w-full lg:w-1/5 px-3")
                            p(class="mb-2 lg:mb-4 lg:text-lg font-bold font-heading text-blueGray-800") Contact
                            p(class="lg:text-lg text-blueGray-400") info@mind.com 
                    div(class="flex flex-col lg:flex-row items-center lg:justify-between")
                        p(class="text-xs text-blueGray-400") © 2021. All rights reserved NOTICE: This website and the content presented herein is not directed to any person who is a resident of the United States or U.S.-territories or the resident of any other particular jurisdiction. This website and the content presented herein is not an offer to sell or a solicitation to buy securities, commodities, or any other form of investment or product. An offer may be made to accredited investors only pursuant to Rule 506(c) of Regulation D of the U.S. Securities Act of 1933, as amended (the “Act”), by an authorized representative by delivery of a complete copy of an offering memorandum including all exhibits. By using this website, accessing any material contained on this website, registering, requesting a password, or by clicking a “submit” button or the like, you hereby acknowledge, agree and warrant, under penalty of law, that (1) you are an “accredited investor” as defined by Rule 501(a) of the Act; and (2) your typed name on the electronic registration form, if submitted, is your electronic signature and is the legally binding equivalent to your manual handwritten signature.
                        div(class="order-first lg:order-last -mx-2 mb-4 lg:mb-0")
                            a(class="inline-block px-2", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="inline-block px-2", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(class="inline-block px-2", href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
